@model DogsSalon.Models.Customer

@{
    ViewData["Title"] = "New";
}

<h1>New custumer</h1>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>

 /*   <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.isSubscribeToNewsletter)
        </label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MembershipTypeId)
        @Html.TextBoxFor(m => m.MembershipTypeId,new SelectList(Model. new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>
    */
    <button type="submit" class="btn btn-primary">Sign Up</button>
}

